/* Professor's Home */
.professor-home, 
.update-profile,
.view-attendance,
.courses,
.qr-code {
  margin: 50px 0;
}

.professor-home .heading h4 {
  color: #262626;
}

.professor-home .home-content {
  margin: 100px 0;
}

.professor-home .home-content a {
  background: #f3f3f3;
  padding: 20px;
}

/* update professor profile */
.update-profile .heading h4 {
  margin-bottom: 30px;
}

.update-profile .profile-fields {
  margin-bottom: 50px;
}

.profile-password {
  margin-top: 30px;
}

/* view attendance */
.view-attendance .heading h4 {
  margin-bottom: 30px;
}

.view-attendance .attendance-info h4 {
  margin-bottom: 30px;
}

.view-attendance .attendance-history h4 {
  margin-bottom: 30px;
}


/* courses */
.courses .heading h4 {
  margin-bottom: 30px;
}

/* kharem CSS */
.admin-content {
  margin-top: 20px;
}

.admin-list a {
  margin-bottom: 6px !important;
}

.admin-list .list-group-item {
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .18) !important;
  border-radius: 2px !important;
  border: none;
}

.admin-list .list-group-item-action {
  color: #2176bd;
}

/* manage levels */
.levels h3, .level h3,
.departments h3, .department h3,
.courses h3, .course h3 {
  margin-bottom: 20px;
}

.level .alert-danger,
.department .alert-danger,
.course .alert-danger {
  background-color: transparent;
}

.levels th, .levels td,
.departments th, .departments td,
.courses th, .course td {
  padding: 3px 0;
}

.levels a, .levels a:hover,
.departments a, .departments a:hover,
.courses a, .courses a:hover {
  color: #fff;
}

.departments .table a,
.levels .table a,
.courses .table a {
  color: #fff;
}